---
//@ts-ignore
import Main from "../../Layouts/MainLayout_FR.astro";
// import Feeding from "../../components/Feeding.astro";
import Feeding from "../../components/fr/Feeding.jsx";
import Hero from "../../components/fr/Hero.astro";
import Services from "../../components/fr/Services.astro";
import Map from "../../components/fr/Map.astro";
import FAQ from "../../components/fr/FAQ.astro";
import Rare from "../../components/fr/Rare.astro";
import Location from "../../components/fr/Location.astro";
import Subscribe from "../../components/fr/Subscribe.astro";
---

<Main title="Home" isView="true">
  <Hero />
  <Services />
  <Feeding client:load />
  <Map />
  <Rare />
  <FAQ />
  <Location />
  <Subscribe />
</Main>
