---
import { Icon } from "astro-icon/components";
const BASE_GALLERY_URL =
  "https://res.cloudinary.com/ddi3hd3cx/image/upload/w_500/lionpark-gallery";
const BASE_GALLERY_LOW =
  "https://res.cloudinary.com/ddi3hd3cx/image/upload/w_50/lionpark-gallery";
---

<div class="week">
  <div class="week__content">
    <div class="week__left">
      <h2 class="heading-second week__title">Photo de la semaine</h2>
      <h3 class="heading-third week__title2">par "Sarah"</h3>
      <p class="paragraph week__text">
        Le gagnant recevra une réduction de 50 % sur la prochaine visite au parc
        !*
      </p>
      <button class="cta week__button">Envoyez votre photo</button>
    </div>
    <div class="week__right">
      <img
        class="lazy"
        data-src={`${BASE_GALLERY_URL}/gallery_7.jpg`}
        src={`${BASE_GALLERY_LOW}/gallery_7.jpg`}
        data-alt="photo of the week"
      />
    </div>
  </div>
  <div class="week__submit">
    <h2 class="heading-second">Soumettez votre photo</h2>
    <form action="" class="week__form">
      <div class="week__form--top">
        <input
          class="input"
          type="text"
          name="name"
          id="week__name"
          placeholder="Nom"
          required
        />
        <input
          class="input"
          required
          type="email"
          name=""
          id="week__email"
          placeholder="Email"
        />
      </div>
      <div class="week__form--mid">
        <label for="week__file" class="week__form--label"
          ><Icon class="icon week__form--label-icon" name="mdi:tray-upload" />
          <p class="week__file--text">
            Cliquez ou faites glisser une image
          </p></label
        >
        <input
          class="input"
          type="file"
          name=""
          id="week__file"
          required
          accept="image/*"
        />
      </div>
      <div class="week__form--bottom">
        <button type="button" class="cta week__form--bottom-back"
          >Retourner</button
        >
        <button class="cta" type="submit">Soumettre</button>
      </div>
    </form>
  </div>
  <div class="week__done hidden-week">
    <Icon class="icon week__done--icon" name="mdi:done-all" />
    <h2 class="heading-second">Nous avons reçu votre image!</h2>
    <h3 class="heading-third">
      Nous vous informerons par e-mail si vous gagnez
    </h3>
    <button class="cta message-back">Retourner</button>
  </div>
</div>
<p class="paragraph week__desc">
  *Le gagnant est choisi chaque semaine par les organisateurs du concours. La
  réduction de 50% peut être utilisée pour 2 billets dans les 2 mois suivant la
  date de réception. Vous recevrez une notification concernant les gains à
  l'adresse e-mail indiquée dans votre profil.
</p>
<script src="../../script/gallery.js"></script>
