.footer {
  margin-top: 20rem;
  background: linear-gradient(to bottom, var(--dark-green), #124a26);
  border-radius: 5rem 5rem 0 0;
  @media (max-width: 600px) {
    border-radius: 2rem 2rem 0 0;
  }
  &__container {
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: start;
    color: var(--white);
    padding-top: 10rem;
  }
  &__logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  &__logo {
    height: 100%;
    width: 15rem;
    margin-bottom: 2rem;
  }
  &__socials {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  &__social {
    font-size: 4rem;
    background-color: var(--normal-green-hover);
    border-radius: 20rem;
    padding: 0.8rem;
    transition: 0.2s;
    &:hover {
      background-color: var(--normal-green);
    }
  }
  &__title {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: var(--light-green);
    margin-bottom: 2rem;
    font-weight: 500;
  }

  &__links,
  &__contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    a {
      font-size: 2rem;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  &__contact {
    gap: 2rem;
    margin-bottom: 1rem;
  }
  &__icon {
    font-size: 2.6rem;
    color: var(--normal-green);
  }
  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    img {
      width: 12rem;
      aspect-ratio: 1.2;
      object-fit: cover;
      border-radius: 0.5rem;
    }
  }
  &__bottom {
    margin-top: 10rem;
    p {
      padding: 3rem;

      font-size: 1.8rem;
      text-align: center;
      color: var(--super-light-green);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 50%;

        background-color: var(--normal-green);
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      a {
        color: var(--normal-green);
      }
    }
  }
}
