.pika-prev {
  background-image: url("../../public/arrow-l.svg") !important;
  scale: 1.8;
}
.pika-next {
  background-image: url("../../public/arrow-r.svg") !important;
  scale: 1.8;
}
.pika-single {
  z-index: 9 !important;

  padding: 2rem !important;
  min-width: 100% !important;
  min-height: 30rem !important;
  border-radius: 2rem !important;
  // border: none !important;
  display: flex !important;
  flex-wrap: wrap !important;
  place-content: center;
  border: 1px solid var(--light-grey) !important;
}
.pika-table {
  // width: 50rem !important;
  // max-width: 100% !important;
}
input.pika-input {
  width: 20rem !important;
}
.pika-label {
  font-family: interphase, sans-serif !important;
  font-weight: 500 !important;
  display: inline-block;
  position: relative;
  z-index: 9 !important;
  overflow: hidden;
  margin: 0 !important;
  padding: 0.5rem 1rem !important;
  font-size: 2.4rem !important;
  line-height: 1rem !important;
  font-weight: bold;
  background-color: var(--super-light-green);
  color: var(--super-dark-green);
}
.pika-select {
  pointer-events: none;
}
.pika-lendar {
  width: 100% !important;
}
.pika-table {
  display: flex !important;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  @media (max-width: 400px) {
    gap: 2rem;
  }
  thead {
    tr {
      display: flex;
      gap: 3rem;

      @media (max-width: 400px) {
        gap: 2rem;
      }
      th {
        font-size: 1.8rem !important;
        color: var(--dark-green);

        abbr {
          font-family: interphase, sans-serif !important;
          text-decoration: none !important;
          cursor: default;
        }
      }
    }
  }
}
.pika-button {
  height: 5rem !important;
  aspect-ratio: 1;
  padding: 0rem !important;
  font-size: 2rem !important;
  font-family: interphase, sans-serif !important;
  font-weight: 500 !important;
  background: transparent !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: var(--text-color) !important;
  border-radius: 0.5rem;

  @media (max-width: 400px) {
    height: 4rem !important;
  }

  &:hover {
    background-color: var(--light-green) !important;
    color: var(--super-dark-green) !important;
  }
}
.pika-row {
  width: 100% !important;
  display: flex;
  margin-bottom: 2rem;
  gap: 1.4rem;
  @media (max-width: 350px) {
    gap: 1.6rem;
  }
}
.is-selected .pika-button {
  box-shadow: none !important;
  color: var(--super-dark-green) !important;
  &:hover {
    color: var(--text-color) !important;
  }
}
.is-selected {
  background: var(--light-green-2);
  border-radius: 0.5rem;
}
