---
import Main from "../Layouts/MainLayout.astro";
// import Feeding from "../components/Feeding.astro";
import Feeding from "../components/Feeding.jsx";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Map from "../components/Map.astro";
import FAQ from "../components/FAQ.astro";
import Rare from "../components/Rare.astro";
import Location from "../components/Location.astro";
import Subscribe from "../components/Subscribe.astro";
---

<Main title="Home" isView="true">
  <Hero />
  <Services />
  <Feeding client:load />
  <Map />
  <Rare />
  <FAQ />
  <Location />
  <Subscribe />
</Main>
