---
import "../styles/DropNav.scss";
import SelectButton from "./ui/SelectButton.astro";

import HeroSwiper from "./HeroSwiper.jsx";
---

<section class="hero">
  <div class="hero__top">
    <div class="hero__buttons">
      <SelectButton href="#location" iconName="mdi:location-on-outline">
        Get Location
      </SelectButton>
      <SelectButton href="#map-cart" iconName="mdi:map-outline">
        Zoo Map
      </SelectButton>
      <SelectButton href="/Animals" iconName="mdi:paw">
        Our Animals
      </SelectButton>
    </div>
  </div>
  <div class="hero__content">
    <div class="hero__mid">
      <h1 class="hero__title heading">LION PARK AGADIR</h1>
      <a href="/Tickets" class="hero__button big-button">book<br />Tickets</a>
    </div>
    <HeroSwiper client:load />
  </div>
</section>
