---
import "../styles/Location.scss";
import { Icon } from "astro-icon/components";
---

<section class="location" id="location">
  <div class="location__container">
    <div class="location__bottom">
      <div class="location__right">
        <h2 class="heading-second location__title">Where Are We?</h2>

        <p class="paragraph">
          Once you're on the Marrakesh-Agadir Highway in Drarga, follow the
          signs to Lion Park, just 2 minutes from Crocopark. At the park's
          entrance checkpoint, mention that you're visiting Lion Park.
        </p>
        <p class="paragraph location__p">
          <Icon class="icon location__p--icon" name="carbon:location" />Drarga
          street 1, Agadir Morocco
        </p>
        <p class="paragraph location__p">
          <Icon class="icon location__p--icon" name="carbon:time" />open daily
          9:00 to 17:00 (GMT+1)
        </p>
        <a
          target="_blank"
          href="https://www.google.com/maps/dir//9GRC%2BFM+Lion+Park,+Drarga+80000/@30.3911565,-9.4809152,17z/data=!4m17!1m7!3m6!1s0xdb3c970674b7d31:0x150db889f8c52298!2sLion+Park!8m2!3d30.3911519!4d-9.4783403!16s%2Fg%2F11s34k3j0p!4m8!1m0!1m5!1m1!1s0xdb3c970674b7d31:0x150db889f8c52298!2m2!1d-9.4783403!2d30.3911519!3e3?entry=ttu"
          class="cta">Get Directions</a
        >
      </div>
      <div class="location__left">
        <iframe
          class="location__map"
          style="border:0"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCoJheqNQWswwrqghG_wgXyeaRFY6qv3pg
    &q=Lion+Park,9GRC+FM, Drarga &zoom=15">
        </iframe>
        <!-- <figure id="map"></figure> -->
      </div>
    </div>
  </div>
</section>
<!-- <script src="../script/location.js"></script> -->
