---
import logo from "/logo.svg?url";
import "../styles/Navigation.scss";
import { Icon } from "astro-icon/components";
import DropNav from "./DropNav.astro";
import LangPicker from "./ui/LangPicker.astro";
const currentPath = Astro.url.pathname;
const slashIndex = currentPath.indexOf("/");
const href = `${currentPath.slice(0, slashIndex)}/fr${currentPath.slice(
  slashIndex
)}`;
---

<header class="header">
  <div class="header__left">
    <a href="/">
      <img src={logo} alt="lion park logo" />
    </a>
  </div>
  <div class="header__right">
    <div class="header__mid">
      <div class="open">
        <div class="open--dot">
          <div class="open--dot-bg"></div>
        </div>
        <p class="open--p">open daily 9:00 to 17:00 (GMT+1)</p>
      </div>
      <a href="tel:+212624360624" class="header__phone link">
        <Icon class="header__phone--icon icon" name="carbon:phone" />
        +212 123456789</a
      >
    </div>
    <a href={href}>
      <LangPicker country="france" />
    </a>
    <a href="/Tickets" class="header__cta"
      >Get Your Ticket
      <div class="header__cta--line"></div>
      <div class="header__cta--line"></div>
      <div class="header__cta--line"></div>
      <div class="header__cta--line"></div>
      <div class="header__cta--line"></div>
    </a>
    <button class="header__menu">
      <!-- <input id="checkbox2" type="checkbox" /> -->
      <div class="toggle">
        <div id="bar4" class="bars"></div>
        <div id="bar5" class="bars"></div>
        <div id="bar6" class="bars"></div>
      </div>
    </button>
  </div>
</header>
<DropNav />
<script src="../script/Nav.js"></script>
<script src="../script/main.js"></script>
