---
import "../styles/Tickets.scss";
import "../styles/Picka.scss";
//@ts-ignore
import Loader from "@components/ui/Loader.astro";
---

<section class="tickets">
  <div class="container tickets__container">
    <div class="tickets__top">
      <h2 class="heading-second tickets__title page-title">
        Purchase Your tickets
      </h2>
    </div>
    <div class="tickets__steps">
      <div class="tickets__bottom">
        <div class="tickets__left">
          <h4 class="heading-third tickets__step">1. Pick a date</h4>
          <div class="tickets__picker-container">
            <Loader />
            <input type="text" id="datepicker" autocomplete="off" />
          </div>
        </div>
        <form id="ticket-members-form" class="tickets__right ticket">
          <h4 class="heading-third tickets__step">2. Choose tickets</h4>
          <div class="ticket__persons">
            <div class="person">
              <p class="paragraph person__age">
                Adults <span>(18+ years)</span>
              </p>
              <p class="paragraph person__price">35 MAD</p>
              <div class="person__qt">
                <button type="button" class="cta person__minest">-</button>
                <input
                  class="person-input input"
                  type="number"
                  id="adult-input"
                  value="1"
                />
                <button type="button" class="cta person__plus">+</button>
              </div>
            </div>
            <div class="person">
              <p class="paragraph person__age">
                Kids <span>(4-17 years)</span>
              </p>
              <p class="paragraph person__price">20 MAD</p>
              <div class="person__qt">
                <button type="button" class="cta person__minest">-</button>
                <input
                  class="person-input input"
                  type="number"
                  name=""
                  id="kid-input"
                  value="0"
                />
                <button type="button" class="cta person__plus">+</button>
              </div>
            </div>
            <div class="person">
              <p class="paragraph person__age">
                Babies <span>(0-4 years)</span>
              </p>
              <p class="paragraph person__price">00 MAD</p>
              <div class="person__qt">
                <button type="button" class="cta person__minest">-</button>
                <input
                  class="person-input input"
                  type="number"
                  name=""
                  id="kid-input"
                  value="0"
                />
                <button type="button" class="cta person__plus">+</button>
              </div>
            </div>
          </div>
          <div class="person__email">
            <div class="person__email--text">
              <p class="person__email--text-top">Email Address</p>
              <p class="person__email--text-bottom">
                tickets will be sent to this email*
              </p>
            </div>
            <input
              type="email"
              class="ticket__email input"
              placeholder="email@example.com"
              required
            />
          </div>
          <div class="ticket__bottom">
            <div class="ticket__total">
              <h4 class="ticket__total--text heading-third">
                Total:<span class="ticket__total--right">
                  <span class="ticket__total--price">35</span> MAD</span
                >
              </h4>
            </div>
            <button class="cta to-payment"
              >Go To Payment
              <div class="cta-loading hidden"></div>
            </button>
          </div>
        </form>
      </div>
      <div class="ticket__office"></div>
    </div>
  </div>
</section>
<script src="../script/tickets.js"></script>
<script src="https://js.stripe.com/v3/"></script>
