---
const desc =
  "Observe majestic African lions up close at the only lion park in Agadir, Morocco. A unique and thrilling family wildlife experience.";
const { title, description = desc } = Astro.props;
const completeTitle = `${title} | Lion Park Agadir `;
import "../styles/Main.scss";
import "../styles/Resusable.scss";
import Navigation from "../components/Navigation.astro";

//@ts-ignore
import Footer from "../components/Footer.astro";
//@ts-ignore
import { SEO } from "astro-seo";
import Notification from "@/components/Notification.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="google-site-verification"
      content="5h0P7f6TGWUy9FKtI8oo0vh_-kUd7tOaYzKwQCMVQLU"
    />
    <SEO
      canonical="https://lionpark.ailal.dev"
      openGraph={{
        article: {
          authors: ["Youness Ailal"],
          publishedTime: "01 November 2023",
        },
        basic: {
          title: "Lion Park Agadir - Get Close to Wild Lions",
          type: "website",
          url: "https://lionpark.ailal.dev",
          image:
            "https://images.unsplash.com/photo-1456926631375-92c8ce872def?auto=format&fit=crop&q=80&w=1740&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
        },
      }}
      twitter={{
        site: "https://lionpark.ailal.dev",
        creator: "@younessailal",
        image:
          "https://images.unsplash.com/photo-1456926631375-92c8ce872def?auto=format&fit=crop&q=80&w=1740&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
      }}
    />
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
    <title>{completeTitle}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <Notification />
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
